body {
    margin: 0;
    padding: 0;
    font-family: 'Syne', 'Arial', sans-serif;
    background-color: #fff8e9;
    color: #001CCE;
    cursor: url('colors.png'), auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    text-align: center;
    padding: 5px 0 0 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
}

/* Style for the logos */
.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin: 0 10px; /* Adjust the margin as needed */
}

nav {
    text-align: center;
    padding: 10px 0;
}

nav button {
    display: inline-block;
    padding: 5px 20px;
    margin: 5px 10px;
    font-family: 'Syne', 'Arial', sans-serif;
    color: #001CCE;
    background-color: #fff8e9;
    cursor: pointer;
    border: solid 2px #001CCE;
    font-size: 16px;
    border-radius: 50px;
}

nav button:hover {
    background-color: #001CCE;
    color: #FFF3D6;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 500;
}
/* HEADER END */

/* TEXT STYLES */
h1 {
    font-size: 38px;
    font-family: 'Syne', 'Arial', sans-serif;
}
h1:hover {
    color:#ff4c1b;
    font-style: italic;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    letter-spacing: 2px;
    color: #ff4c1b;
    margin-bottom: 2px;
    font-size: 28px;
}

p {
    margin: 5px;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}
/* END TEXT STYLES */

/* BIG TAGS */
hr {
    border: 1px solid #001CCE;
    width: 90%;
}

.button {
    padding: 5px 20px;
    margin: 0 10px;
    color: #ff4c1b;
    background-color: #fff8e9;
    border: solid 1.5px #ff4c1b;
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
    text-decoration: none;
}
.button:hover {
    padding: 5px 25.5px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff8e9;
    background-color: #ff4c1b;
}


/* MAIN CONTENT */
main {
    padding: 10px 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img1{
    float: left;
    padding: 10px 15px 3px 0;
}

/* MAIN CONTENT END */

/* FOOTER */
footer {
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #001CCE;
    width: 90%;
    align-self: center;
    text-align: left;
}
/*FOOTER END*/